/*
CSS STRUCTURE:

1. SITE STRUCTURE and TYPOGRAPHY
2. CONTENT
3. FORMS
4. COMMON
5. MEDIA QUERIES

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
/* line 21, ../sass/style.scss */
/* line 14, ../../sass/survey/style.scss */
body {
  background: #fff;
  font: 13px/20px "Open Sans", Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
}

/** Typography **/
/* line 35, ../sass/style.scss */
/* line 29, ../../sass/survey/style.scss */
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 45, ../sass/style.scss */
/* line 40, ../../sass/survey/style.scss */
h1, h2 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

/* line 51, ../sass/style.scss */
/* line 47, ../../sass/survey/style.scss */
.main-title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* line 56, ../sass/style.scss */
/* line 53, ../../sass/survey/style.scss */
.main-title h1 {
  font-size: 44px;
  line-height: 40px;
  margin-top: 60px;
}

/* line 62, ../sass/style.scss */
/* line 60, ../../sass/survey/style.scss */
.main-title p {
  font-size: 26px;
  font-weight: 300;
  margin-top: -5px;
  text-align: center;
}

/* line 69, ../sass/style.scss */
/* line 68, ../../sass/survey/style.scss */
h2 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 45px;
}

/* line 73, ../sass/style.scss */
/* line 74, ../../sass/survey/style.scss */
h2 span {
  font-size: 24px;
  font-weight: 300;
  text-transform: none;
  display: block;
}

/* line 81, ../sass/style.scss */
/* line 82, ../../sass/survey/style.scss */
h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
  margin-bottom: 45px;
}

/* line 87, ../sass/style.scss */
/* line 90, ../../sass/survey/style.scss */
h3 span {
  font-size: 21px;
  font-weight: 300;
  display: block;
}

/* line 94, ../sass/style.scss */
/* line 97, ../../sass/survey/style.scss */
.step h3 {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: left;
}

/* line 103, ../sass/style.scss */
/* line 107, ../../sass/survey/style.scss */
.box h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 109, ../sass/style.scss */
/* line 114, ../../sass/survey/style.scss */
footer h3 {
  text-transform: none;
  font-weight: 400;
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
}

/* line 117, ../sass/style.scss */
/* line 123, ../../sass/survey/style.scss */
.question_box h3 {
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  margin-bottom: 10px;
}

/* line 124, ../sass/style.scss */
/* line 131, ../../sass/survey/style.scss */
h4 {
  font-size: 18px;
  ine-height: 22px;
}

/* line 129, ../sass/style.scss */
/* line 137, ../../sass/survey/style.scss */
h5 {
  font-size: 14px;
  line-height: 14px;
}

/* line 134, ../sass/style.scss */
/* line 143, ../../sass/survey/style.scss */
footer h5 {
  color: #555;
}

/* line 138, ../sass/style.scss */
/* line 148, ../../sass/survey/style.scss */
h6 {
  font-size: 12px;
}

/* line 142, ../sass/style.scss */
/* line 153, ../../sass/survey/style.scss */
p {
  margin: 0 0 20px 0;
}

/** Lists **/
/* line 148, ../sass/style.scss */
/* line 160, ../../sass/survey/style.scss */
ul,
ol {
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
}

/* line 157, ../sass/style.scss */
/* line 170, ../../sass/survey/style.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 161, ../sass/style.scss */
/* line 175, ../../sass/survey/style.scss */
li {
  line-height: 20px;
}

/* line 165, ../sass/style.scss */
/* line 180, ../../sass/survey/style.scss */
hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #dfdfdf;
}

/** Links color **/
/* line 172, ../sass/style.scss */
/* line 188, ../../sass/survey/style.scss */
a {
  color: #00aeef;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 177, ../sass/style.scss */
/* line 195, ../../sass/survey/style.scss */
a:hover, a:focus {
  color: #444;
  text-decoration: none;
}

/** Buttons **/
/* line 184, ../sass/style.scss */
/* line 202, ../../sass/survey/style.scss */
.button_medium {
  border: none;
  background: #282828;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
}

/* line 199, ../sass/style.scss */
/* line 219, ../../sass/survey/style.scss */
.button_medium:hover, .button_medium .button_medium:hover {
  background: #00aeef;
  color: #fff;
}

/* line 205, ../sass/style.scss */
/* line 225, ../../sass/survey/style.scss */
.button_medium_2 {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #282828;
  color: #282828;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  background: #fff;
}

/* line 224, ../sass/style.scss */
/* line 246, ../../sass/survey/style.scss */
.button_medium_2:hover {
  background: #00aeef;
  color: #fff;
  border: 2px solid #00aeef;
}

/** Wizard Buttons **/
/* line 232, ../sass/style.scss */
/* line 254, ../../sass/survey/style.scss */
.backward, .forward {
  border: none;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  background: #282828;
  position: relative;
}

/* line 250, ../sass/style.scss */
/* line 273, ../../sass/survey/style.scss */
.backward {
  padding: 7px 20px 7px 30px;
}

/* line 252, ../sass/style.scss */
/* line 277, ../../sass/survey/style.scss */
.backward:before {
  content: "\f053";
  font-family: FontAwesome;
  text-decoration: inherit;
  position: absolute;
  font-weight: normal;
  top: 8px;
  left: 20px;
  text-transform: none;
  font-size: 9px;
}

/* line 265, ../sass/style.scss */
/* line 290, ../../sass/survey/style.scss */
button[disabled].backward, button[disabled].forward {
  border: none;
  background: #ccc;
  outline: none;
}

/* line 271, ../sass/style.scss */
/* line 297, ../../sass/survey/style.scss */
.forward {
  padding: 7px 30px 7px 20px;
}

/* line 273, ../sass/style.scss */
/* line 301, ../../sass/survey/style.scss */
.forward::before {
  content: "\f054";
  font-family: FontAwesome;
  text-decoration: inherit;
  position: absolute;
  font-weight: normal;
  top: 8px;
  right: 20px;
  text-transform: none;
  font-size: 9px;
}

/* line 286, ../sass/style.scss */
/* line 314, ../../sass/survey/style.scss */
.backward:hover, .forward:hover {
  background: #00aeef;
  color: #fff;
}

/** Header ==================== **/
/* line 292, ../sass/style.scss */
/* line 321, ../../sass/survey/style.scss */
#top-area {
  background-color: #428bca;
  height: 500px;
}

/* line 297, ../sass/style.scss */
/* line 327, ../../sass/survey/style.scss */
header {
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
}

/* line 302, ../sass/style.scss */
/* line 333, ../../sass/survey/style.scss */
header .navbar-brand {
  color: #563d7c;
}

/* line 307, ../sass/style.scss */
/* line 338, ../../sass/survey/style.scss */
#logo a {
  text-indent: -99999px;
  display: block;
  height: 32px;
  width: 151px;
}

/* line 315, ../sass/style.scss */
/* line 346, ../../sass/survey/style.scss */
#top-nav ul {
  float: right;
  margin: 10;
  padding: 0;
  margin-top: 8px;
  margin-right: -10px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 325, ../sass/style.scss */
/* line 357, ../../sass/survey/style.scss */
#top-nav ul a {
  color: #fff;
  text-decoration: none;
}

/* line 330, ../sass/style.scss */
/* line 363, ../../sass/survey/style.scss */
#top-nav ul a:hover, #top-nav ul a#active {
  color: #323232;
}

/* line 334, ../sass/style.scss */
/* line 368, ../../sass/survey/style.scss */
#top-nav ul li {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
}

/* line 340, ../sass/style.scss */
/* line 375, ../../sass/survey/style.scss */
#top-nav ul li:first-child {
  background: none;
}

/* line 344, ../sass/style.scss */
/* line 380, ../../sass/survey/style.scss */
#top-nav ul li a#purchase {
  color: #fff200;
}

/* line 348, ../sass/style.scss */
/* line 385, ../../sass/survey/style.scss */
#top-nav ul li a#purchase:hover {
  color: #323232;
}

/* Button Responsive Menu*/
/* line 353, ../sass/style.scss */
/* line 391, ../../sass/survey/style.scss */
.btn-responsive-menu {
  display: none;
  float: right;
  padding: 5px;
  cursor: pointer;
  margin: 0px 20px 0 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 367, ../sass/style.scss */
/* line 406, ../../sass/survey/style.scss */
.bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 5px;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 378, ../sass/style.scss */
/* line 418, ../../sass/survey/style.scss */
.show {
  display: block !important;
}

/* line 382, ../sass/style.scss */
/* line 423, ../../sass/survey/style.scss */
#main {
  padding-bottom: 60px;
}

/** Footer ==================== **/
/* line 387, ../sass/style.scss */
/* line 429, ../../sass/survey/style.scss */
footer {
  width: 100%;
  background: #428bca;
  padding: 30px 0 0 0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 393, ../sass/style.scss */
/* line 437, ../../sass/survey/style.scss */
footer a {
  color: #FF9;
}

/* line 396, ../sass/style.scss */
/* line 441, ../../sass/survey/style.scss */
footer section {
  background: url(/images/line_header.png) repeat-x left bottom;
}

/* line 401, ../sass/style.scss */
/* line 446, ../../sass/survey/style.scss */
#footer_2 {
  width: 100%;
  background: #fff;
}

/* line 404, ../sass/style.scss */
/* line 451, ../../sass/survey/style.scss */
#footer_2 a {
  color: #428bca;
}

/* line 406, ../sass/style.scss */
/* line 455, ../../sass/survey/style.scss */
#footer_2 a:hover {
  color: #2a6496;
  text-decoration: underline;
}

/* line 413, ../sass/style.scss */
/* line 461, ../../sass/survey/style.scss */
ul#footer-nav {
  color: #563d7c;
  margin: 25px 0 10px 0;
}

/* line 416, ../sass/style.scss */
/* line 466, ../../sass/survey/style.scss */
ul#footer-nav li:first-child {
  margin-right: 30px;
}

/* line 419, ../sass/style.scss */
/* line 470, ../../sass/survey/style.scss */
ul#footer-nav li {
  display: inline-block;
  zoom: 1;
  margin-right: 10px;
}

/* line 426, ../sass/style.scss */
/* line 477, ../../sass/survey/style.scss */
#copy {
  padding: 15px 0;
  background-color: #f8f8f8;
  font-size: 11px;
  text-align: center;
}

/* line 433, ../sass/style.scss */
/* line 485, ../../sass/survey/style.scss */
#contact {
  background: url(/images/contact_map.png) no-repeat 90% 90px;
}

/*============================================================================================*/
/* 2.  CONTENT */
/*============================================================================================*/
/** Form area ============================= **/
/* line 441, ../sass/style.scss */
/* line 494, ../../sass/survey/style.scss */
#top-wizard {
  text-align: center;
  padding: 15px 120px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
}

/* line 451, ../sass/style.scss */
/* line 505, ../../sass/survey/style.scss */
.shadow {
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: url(/images/shadow_top_form.png) no-repeat center top;
}

/* line 460, ../sass/style.scss */
/* line 515, ../../sass/survey/style.scss */
.ui-widget-content {
  background: #fff;
  color: #222222;
}

/* line 463, ../sass/style.scss */
/* line 520, ../../sass/survey/style.scss */
.ui-widget-content a {
  color: #222222;
}

/* line 468, ../sass/style.scss */
/* line 525, ../../sass/survey/style.scss */
.ui-widget-header {
  background: #f68e56;
}

/* line 470, ../sass/style.scss */
/* line 529, ../../sass/survey/style.scss */
.ui-widget-header a {
  color: #222222;
}

/* line 475, ../sass/style.scss */
/* line 534, ../../sass/survey/style.scss */
.ui-progressbar {
  height: 2em;
  text-align: left;
}

/* line 478, ../sass/style.scss */
/* line 539, ../../sass/survey/style.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* line 484, ../sass/style.scss */
/* line 545, ../../sass/survey/style.scss */
#survey_container {
  background-color: #fff;
  box-shadow: 0 0 5px #777;
  margin-top: -300px;
  margin-bottom: 60px;
  z-index: 9;
  position: relative;
}

/* line 493, ../sass/style.scss */
/* line 555, ../../sass/survey/style.scss */
.ie8 #survey_container {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: -300px;
  margin-bottom: 60px;
  z-index: 9;
  position: relative;
}

/* line 502, ../sass/style.scss */
/* line 565, ../../sass/survey/style.scss */
#middle-wizard {
  padding: 50px 125px 35px 125px;
}

/* line 506, ../sass/style.scss */
/* line 570, ../../sass/survey/style.scss */
#bottom-wizard {
  text-align: center;
  padding: 15px 120px;
  border-top: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

/* line 513, ../sass/style.scss */
/* line 578, ../../sass/survey/style.scss */
#complete {
  text-align: center;
  padding: 0 45px 35px 45px;
}

/* line 516, ../sass/style.scss */
/* line 583, ../../sass/survey/style.scss */
#complete h3 {
  text-align: center;
  margin-bottom: 40px;
}

/* line 520, ../sass/style.scss */
/* line 588, ../../sass/survey/style.scss */
#complete i {
  color: #cacaca;
  margin: 0 0 10px 0;
  font-size: 160px;
  padding: 0;
}

/* line 526, ../sass/style.scss */
/* line 595, ../../sass/survey/style.scss */
#complete button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid #8dc63f;
  color: #8dc63f;
  padding: 15px 35px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  background: #fff;
}

/* line 545, ../sass/style.scss */
/* line 616, ../../sass/survey/style.scss */
#complete button:hover {
  background: #00aeef;
  color: #fff;
  border: 2px solid #00aeef;
}

/** Featuers and Question boxes ============================= **/
/* line 554, ../sass/style.scss */
/* line 624, ../../sass/survey/style.scss */
.box {
  text-align: center;
}

/* line 556, ../sass/style.scss */
/* line 628, ../../sass/survey/style.scss */
.box span {
  font-size: 100px;
  color: #1ab9a7;
  font-weight: 800;
  display: block;
  margin: 40px 0 43px 0;
}

/* line 565, ../sass/style.scss */
/* line 637, ../../sass/survey/style.scss */
.question_box {
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;
}

/* line 569, ../sass/style.scss */
/* line 643, ../../sass/survey/style.scss */
.question_box:before {
  content: "\f059";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 30px;
  position: absolute;
  color: #999;
  top: 5px;
  left: 0;
}

/* Team */
/* line 584, ../sass/style.scss */
/* line 658, ../../sass/survey/style.scss */
.thumbnail {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  display: block;
  line-height: 0px;
  -moz-border-radius: 0px;
  -moz-box-shadow: none;
  -moz-transition: all 0.2s ease-in-out;
  o-transition: all 0.2s ease-in-out;
  padding: 0px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
}

/* line 600, ../sass/style.scss */
/* line 675, ../../sass/survey/style.scss */
.thumbnail:hover h4 {
  margin-top: -40px;
}

/* line 606, ../sass/style.scss */
/* line 680, ../../sass/survey/style.scss */
.caption {
  background: #f2f2f2;
}

/* line 610, ../sass/style.scss */
/* line 685, ../../sass/survey/style.scss */
.transit-to-top {
  height: 60px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

/* line 615, ../sass/style.scss */
/* line 692, ../../sass/survey/style.scss */
.transit-to-top h4 {
  text-align: center;
  moz-transition: all 0.3s ease-in-out;
  o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin: 20px 0 0 0;
  padding: 0;
}

/* line 626, ../sass/style.scss */
/* line 703, ../../sass/survey/style.scss */
.p-title {
  display: block;
  height: 40px;
}

/* line 631, ../sass/style.scss */
/* line 709, ../../sass/survey/style.scss */
.widget_nav_menu {
  min-height: 100%;
  height: 100%;
  text-align: center;
}

/* line 637, ../sass/style.scss */
/* line 716, ../../sass/survey/style.scss */
.project-item-image-container {
  border: none;
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;
}

/* line 645, ../sass/style.scss */
/* line 725, ../../sass/survey/style.scss */
.project-item-image-container:hover, .project-item :hover .project-item-image-container {
  filter: alpha(opacity=100);
  -moz-transition: background-color 0.2s ease-out, color 0.1s ease-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -o-transition: background-color 0.2s ease-out, color 0.1s ease-out;
  transition: background-color 0.2s ease-out, color 0.1s ease-out;
  -webkit-transition: background-color 0.2s ease-out, color 0.1s ease-out;
}

/* line 655, ../sass/style.scss */
/* line 736, ../../sass/survey/style.scss */
.project-item-image-container > img {
  width: 100% !important;
}

/* line 659, ../sass/style.scss */
/* line 741, ../../sass/survey/style.scss */
.phone-info {
  display: inline-block;
  margin: 5px 0px 0 0;
  width: 100%;
  text-align: center;
}

/* line 666, ../sass/style.scss */
/* line 749, ../../sass/survey/style.scss */
ul.social-bookmarks.team {
  float: none;
  margin: 0;
  padding: 0;
  margin: auto;
  display: inline-block;
}

/* Carousel */
/* line 675, ../sass/style.scss */
/* line 759, ../../sass/survey/style.scss */
#owl-demo .item {
  margin: 3px;
}

/* line 679, ../sass/style.scss */
/* line 764, ../../sass/survey/style.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/*============================================================================================*/
/* 3.  FORMS */
/*============================================================================================*/
/* line 688, ../sass/style.scss */
/* line 774, ../../sass/survey/style.scss */
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

/* line 693, ../sass/style.scss */
/* line 780, ../../sass/survey/style.scss */
.form-control::-webkit-input-placeholder {
  color: #999;
}

/* line 697, ../sass/style.scss */
/* line 785, ../../sass/survey/style.scss */
input.form-control, select.form-control, textarea.form-control {
  background: none;
  background-color: #fbfbfb;
  border: 2px solid #d5d5d5;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  color: #999;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.428571429;
  padding: 6px 12px;
}

/* line 718, ../sass/style.scss */
/* line 807, ../../sass/survey/style.scss */
input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
}

/** Drop down select: ex Country select ==================== **/
/* line 727, ../sass/style.scss */
/* line 817, ../../sass/survey/style.scss */
.styled-select select {
  background: transparent;
  width: 107%;
  padding: 5px;
  padding-left: 15px;
  border: 0;
  border-radius: 0;
  height: 41px;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 742, ../sass/style.scss */
/* line 833, ../../sass/survey/style.scss */
.styled-select {
  width: 100%;
  overflow: hidden;
  height: 44px;
  background: #fbfbfb url(/images/down_arrow_select.png) no-repeat 98% center;
  border: 2px solid #d5d5d5;
  margin-bottom: -5px;
}

/* line 751, ../sass/style.scss */
/* line 843, ../../sass/survey/style.scss */
.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand {
  display: none;
}

/** Floated inputs: ex the gender radio ==================== **/
/* line 756, ../sass/style.scss */
/* line 849, ../../sass/survey/style.scss */
ul.floated {
  padding: 0;
  margin: 0 0 0 0;
}

/* line 761, ../sass/style.scss */
/* line 855, ../../sass/survey/style.scss */
ul.floated li {
  float: left;
  margin: 0;
  padding: 0;
  width: 30%;
}

/* line 768, ../sass/style.scss */
/* line 863, ../../sass/survey/style.scss */
label.label_gender {
  padding-left: 50px;
  line-height: 42px;
}

/* line 773, ../sass/style.scss */
/* line 869, ../../sass/survey/style.scss */
ul.floated li#age {
  width: 100px;
  margin-right: 55px;
}

/* line 778, ../sass/style.scss */
/* line 875, ../../sass/survey/style.scss */
ul.data-list li {
  position: relative;
}

/* line 782, ../sass/style.scss */
/* line 880, ../../sass/survey/style.scss */
ul.data-list-2 li {
  position: relative;
  height: 42px;
  margin-bottom: 15px;
  width: 100%;
  display: block;
}

/* line 790, ../sass/style.scss */
/* line 889, ../../sass/survey/style.scss */
ul.data-list-2 li label {
  float: left;
  margin-left: 60px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  line-height: 22px;
}

/* line 799, ../sass/style.scss */
/* line 899, ../../sass/survey/style.scss */
ul.data-list#terms {
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/** Quantity incrementer input==================== **/
/* line 808, ../sass/style.scss */
/* line 909, ../../sass/survey/style.scss */
.qty-buttons {
  position: relative;
  width: 100px;
  height: 40px;
}

/* line 814, ../sass/style.scss */
/* line 916, ../../sass/survey/style.scss */
input.qty {
  width: 70px;
}

/* line 818, ../sass/style.scss */
/* line 921, ../../sass/survey/style.scss */
input.qtyminus, input.qtyplus, input.qtyplus:focus {
  position: absolute;
  width: 35px;
  height: 23px;
  border: 2px solid #d5d5d5;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}

/* line 834, ../sass/style.scss */
/* line 938, ../../sass/survey/style.scss */
input.qtyplus {
  background: white url(/images/plus.png) no-repeat center center;
  right: 0;
  top: 0;
  text-indent: -9999px;
}

/* line 841, ../sass/style.scss */
/* line 946, ../../sass/survey/style.scss */
input.qtyminus {
  background: white url(/images/minus.png) no-repeat center center;
  right: 0;
  top: 21px;
  text-indent: -9999px;
}

/* line 848, ../sass/style.scss */
/* line 954, ../../sass/survey/style.scss */
.qty-buttons span {
  position: absolute;
  top: 10px;
  display: block;
  width: 220px;
  left: 120px;
  font-weight: bold;
}

/** Errors validation styles and position ==================== **/
/** Common style**/
/* line 859, ../sass/style.scss */
/* line 966, ../../sass/survey/style.scss */
label.error {
  font-size: 11px;
  position: absolute;
  top: -28px;
  right: -15px;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  padding: 0 6px;
}

/* line 873, ../sass/style.scss */
/* line 981, ../../sass/survey/style.scss */
label.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #e34f4f;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%;
}

/* line 886, ../sass/style.scss */
/* line 995, ../../sass/survey/style.scss */
.styled-select label.error {
  overflow: visible;
}

/* line 890, ../sass/style.scss */
/* line 1000, ../../sass/survey/style.scss */
ul.floated li#age label.error {
  right: -15px;
}

/* line 894, ../sass/style.scss */
/* line 1005, ../../sass/survey/style.scss */
ul.floated li label.error {
  right: -50px;
}

/* line 898, ../sass/style.scss */
/* line 1010, ../../sass/survey/style.scss */
ul.data-list#terms li label.error {
  left: 45%;
  display: inline-block;
  width: 80px;
}

/** Error styles for survey questions**/
/* line 905, ../sass/style.scss */
/* line 1018, ../../sass/survey/style.scss */
ul.data-list-2 li label.error {
  font-size: 11px;
  position: absolute;
  top: -30px;
  right: -10px;
  margin: 0;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  padding: 0 6px;
}

/*============================================================================================*/
/* 4.  COMMON */
/*============================================================================================*/
/* twitter feed*/
/* line 924, ../sass/style.scss */
/* line 1038, ../../sass/survey/style.scss */
.tweets-next, .tweets-prev {
  display: inline-block;
  font-size: 28px;
  color: #FFF;
  margin-top: 10px;
}

/* line 931, ../sass/style.scss */
/* line 1046, ../../sass/survey/style.scss */
.tweets-prev {
  margin-right: 10px;
}

/* line 935, ../sass/style.scss */
/* line 1051, ../../sass/survey/style.scss */
.tweet_avatar {
  float: left;
}

/* line 939, ../sass/style.scss */
/* line 1056, ../../sass/survey/style.scss */
.tweet_time {
  display: block;
  margin-bottom: 5px;
}

/* line 944, ../sass/style.scss */
/* line 1062, ../../sass/survey/style.scss */
.tweet-control {
  margin-bottom: 30px;
}

/* scroll to top */
/* line 949, ../sass/style.scss */
/* line 1068, ../../sass/survey/style.scss */
#toTop {
  width: 100px;
  background: #111;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 11px;
  z-index: 999;
}

/* spacing */
/* line 965, ../sass/style.scss */
/* line 1085, ../../sass/survey/style.scss */
.add_top_30 {
  margin-top: 30px;
}

/* line 969, ../sass/style.scss */
/* line 1090, ../../sass/survey/style.scss */
.add_top_15 {
  margin-top: 15px;
}

/* line 973, ../sass/style.scss */
/* line 1095, ../../sass/survey/style.scss */
.add_bottom_30 {
  margin-bottom: 30px;
}

/* line 977, ../sass/style.scss */
/* line 1100, ../../sass/survey/style.scss */
.add_bottom_15 {
  margin-bottom: 15px;
}

/* line 981, ../sass/style.scss */
/* line 1105, ../../sass/survey/style.scss */
.divider {
  width: 100%;
  background: url(/images/divider.png) no-repeat center top;
  height: 10px;
  margin: 30px 0;
}

/* modal */
/* line 989, ../sass/style.scss */
/* line 1114, ../../sass/survey/style.scss */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px c;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

/* line 1000, ../sass/style.scss */
/* line 1126, ../../sass/survey/style.scss */
.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

/* line 1006, ../sass/style.scss */
/* line 1133, ../../sass/survey/style.scss */
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #ddd;
}

/* line 1013, ../sass/style.scss */
/* line 1141, ../../sass/survey/style.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #555;
  text-shadow: 0 1px 0 #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 1025, ../sass/style.scss */
/* line 1154, ../../sass/survey/style.scss */
.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/*============================================================================================*/
/* 5.  MEDIA QUERIES */
/*============================================================================================*/
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 1037, ../sass/style.scss */
  /* line 1167, ../../sass/survey/style.scss */
  #middle-wizard {
    padding: 40px 60px 35px 60px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 1043, ../sass/style.scss */
  /* line 1173, ../../sass/survey/style.scss */
  #middle-wizard {
    padding: 40px 60px 35px 60px;
  }

  /* line 1047, ../sass/style.scss */
  /* line 1178, ../../sass/survey/style.scss */
  #contact {
    background: none;
  }

  /* line 1051, ../sass/style.scss */
  /* line 1183, ../../sass/survey/style.scss */
  #footer_2 {
    text-align: center;
  }

  /* line 1055, ../sass/style.scss */
  /* line 1188, ../../sass/survey/style.scss */
  #contact {
    background: none;
  }

  /* line 1059, ../sass/style.scss */
  /* line 1193, ../../sass/survey/style.scss */
  ul.social-bookmarks {
    padding: 0;
    list-style-type: none;
    float: none;
    display: inline-block;
  }
}
/* From tablet portrait to mobile */
@media (max-width: 767px) {
  /* line 1069, ../sass/style.scss */
  /* line 1203, ../../sass/survey/style.scss */
  #top-nav {
    width: 100%;
    float: left;
  }

  /* line 1074, ../sass/style.scss */
  /* line 1209, ../../sass/survey/style.scss */
  #top-nav {
    display: none;
  }

  /* line 1078, ../sass/style.scss */
  /* line 1214, ../../sass/survey/style.scss */
  #top-nav ul {
    float: none;
    padding: 20px 0 20px 0;
    margin: 0;
  }

  /* line 1084, ../sass/style.scss */
  /* line 1221, ../../sass/survey/style.scss */
  #top-nav ul li {
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  /* line 1092, ../sass/style.scss */
  /* line 1230, ../../sass/survey/style.scss */
  #top-nav ul li:last-child {
    border-bottom: none;
  }

  /* line 1096, ../sass/style.scss */
  /* line 1235, ../../sass/survey/style.scss */
  #top-nav ul li a {
    display: block;
    padding: 5px;
  }

  /* line 1101, ../sass/style.scss */
  /* line 1241, ../../sass/survey/style.scss */
  #top-nav ul a#active {
    color: #323232;
    background-color: #ddd;
  }

  /* line 1106, ../sass/style.scss */
  /* line 1247, ../../sass/survey/style.scss */
  .btn-responsive-menu {
    display: block;
  }

  /* line 1110, ../sass/style.scss */
  /* line 1252, ../../sass/survey/style.scss */
  .main-title h1 {
    font-size: 32px;
    line-height: 30px;
  }

  /* line 1115, ../sass/style.scss */
  /* line 1258, ../../sass/survey/style.scss */
  .main-title p {
    font-size: 16px;
  }

  /* line 1119, ../sass/style.scss */
  /* line 1263, ../../sass/survey/style.scss */
  h2, h3 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  /* line 1125, ../sass/style.scss */
  /* line 1270, ../../sass/survey/style.scss */
  h2 span, h3 span {
    font-size: 16px;
    line-height: 18px;
  }

  /* line 1130, ../sass/style.scss */
  /* line 1276, ../../sass/survey/style.scss */
  #top-wizard {
    padding: 15px 6 s0px;
  }

  /* line 1134, ../sass/style.scss */
  /* line 1281, ../../sass/survey/style.scss */
  #middle-wizard {
    padding: 20px 30px 20px 30px;
  }

  /* line 1138, ../sass/style.scss */
  /* line 1286, ../../sass/survey/style.scss */
  ul.floated li#age {
    margin-bottom: -10px;
  }

  /* line 1142, ../sass/style.scss */
  /* line 1291, ../../sass/survey/style.scss */
  ul.floated li {
    float: none;
    margin: 0;
    padding: 0;
    width: 50%;
    padding-bottom: 10px;
  }

  /* line 1150, ../sass/style.scss */
  /* line 1300, ../../sass/survey/style.scss */
  #footer_2 {
    text-align: center;
  }

  /* line 1154, ../sass/style.scss */
  /* line 1305, ../../sass/survey/style.scss */
  #contact {
    background: none;
  }

  /* line 1158, ../sass/style.scss */
  /* line 1310, ../../sass/survey/style.scss */
  ul.social-bookmarks {
    padding: 0;
    list-style-type: none;
    float: none;
    display: inline-block;
  }
}
/* Mobile Landscape */
@media (max-width: 480px) {
  /* line 1168, ../sass/style.scss */
  /* line 1320, ../../sass/survey/style.scss */
  .main-title h1 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 30px;
  }

  /* line 1174, ../sass/style.scss */
  /* line 1327, ../../sass/survey/style.scss */
  .main-title p {
    font-size: 14px;
    ine-height: 16px;
  }

  /* line 1179, ../sass/style.scss */
  /* line 1333, ../../sass/survey/style.scss */
  #top-nav ul {
    float: none;
    padding: 20px 0 40px 0;
    margin: 0;
  }

  /* line 1185, ../sass/style.scss */
  /* line 1340, ../../sass/survey/style.scss */
  #top-wizard {
    padding: 15px 30px;
  }

  /* line 1189, ../sass/style.scss */
  /* line 1345, ../../sass/survey/style.scss */
  #bottom-wizard {
    padding: 15px 30px;
  }

  /* line 1193, ../sass/style.scss */
  /* line 1350, ../../sass/survey/style.scss */
  .backward, .forward, button[disabled].backward, button[disabled].forward {
    text-indent: -9999px;
    width: 50px;
    padding: 0;
    height: 40px;
  }

  /* line 1200, ../sass/style.scss */
  /* line 1358, ../../sass/survey/style.scss */
  .backward:before, .forward:before, button[disabled].backward:before, button[disabled].forward:before {
    text-indent: 0;
    top: 12px;
    font-size: 16px;
  }

  /* line 1206, ../sass/style.scss */
  /* line 1365, ../../sass/survey/style.scss */
  .qty-buttons span {
    top: 10px;
    display: block;
    width: 100px;
    left: 120px;
    font-weight: bold;
    line-height: 12px;
  }

  /* line 1215, ../sass/style.scss */
  /* line 1375, ../../sass/survey/style.scss */
  #complete {
    padding: 0 25px 15px 25px;
  }

  /* line 1219, ../sass/style.scss */
  /* line 1380, ../../sass/survey/style.scss */
  #complete h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* line 1224, ../sass/style.scss */
  /* line 1386, ../../sass/survey/style.scss */
  #complete i {
    font-size: 80px;
    padding: 0;
  }
}
/* Mobile Portrait */
@media only screen and (max-width: 320px) {
  /* line 1232, ../sass/style.scss */
  /* line 1394, ../../sass/survey/style.scss */
  .main-title h1 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 25px;
  }

  /* line 1238, ../sass/style.scss */
  /* line 1401, ../../sass/survey/style.scss */
  #survey_container {
    margin-top: -330px;
    margin-bottom: 30px;
  }

  /* line 1243, ../sass/style.scss */
  /* line 1407, ../../sass/survey/style.scss */
  #top-nav ul {
    float: none;
    padding: 20px 0 10px 0;
    margin: 0;
  }

  /* line 1250, ../sass/style.scss */
  /* line 1414, ../../sass/survey/style.scss */
  ul#footer-nav li {
    display: block;
    margin-right: 0;
  }

  /* line 1254, ../sass/style.scss */
  /* line 1419, ../../sass/survey/style.scss */
  ul#footer-nav li:first-child {
    margin-right: 0;
  }

  /* line 1259, ../sass/style.scss */
  /* line 1424, ../../sass/survey/style.scss */
  .step h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  /* line 1265, ../sass/style.scss */
  /* line 1431, ../../sass/survey/style.scss */
  #complete {
    padding: 0 15px 15px 15px;
  }

  /* line 1267, ../sass/style.scss */
  /* line 1435, ../../sass/survey/style.scss */
  #complete h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
