/* line 1, ../../sass/topic/app.scss */
body {
  padding-top: 100px;
}

/* line 4, ../../sass/topic/app.scss */
.bs-docs-sidebar.affix {
  width: 340px;
  top: 100px;
}

/* line 5, ../../sass/topic/app.scss */
#sidebar-categories li a {
  text-transform: capitalize;
}

/* line 6, ../../sass/topic/app.scss */
.entry .desc {
  padding: 15px 0;
}

/* line 7, ../../sass/topic/app.scss */
.entry .topic-entry {
  padding: 20px 30px 20px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 15, ../../sass/topic/app.scss */
.entry .meta-sep {
  padding: 0 3px;
}
